.thin-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: oklch(var(--bc) / 0.15);
  border-radius: 2px;
}
.thin-scroll::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--bc) / 0.25);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
